{% extends 'base.html' %}

{% block container %}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
    <!-- HERO -->

    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
          {% for tour in tours.values %}
            {% include 'includes/tour-card.html' %}
          {% endfor %}

    </div>    
{% endblock %}